<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


	<link rel="stylesheet" type="text/css"  href="/lib.css" />
	
</head>

<body>


<print?
<p>Уважаеми клиенти и приятели,<br/>
Представяме ви новия Каталог за приспособления и резервни части. 
<br/>
На повече от 400 страници сме подбрали над 10 000 артикула, доставени от различни части на света, 
<br/>
така че да получите най-голям избор, високо качество и конкурентни цени.
В това издание ще намерите различни видове фунии, подгъвачи, крачета, гарнитури, грайфери, совалки, ножове, 
плочки и плетачи за шевни машини JUKI, Barudan, Brother, Durkopp, Kansai Special, Kingtex, 
Mauzer Special, Mitsubishi, Newlong, Pegasus, Pfaff, Reece, Rimoldi, Singer, Siruba, Sun Star, 
Tajima, Toyota, Union Special, Yamato. 
<br/>Цената му е 36 лв. с вкл. ДДС. 
</p>
<p> Моля, попълнете тази заявка и ние ще ви изпратим каталога. 
</p>

<p>Полетата, отбелязани със <b>*</b> са задължителни!</p>
</print>					
<form method="POST">

				<table border="0">
					<col width="*" />
					<col width="210" />
					<col width="*" />
					<col width="*" />
					
					<tr>
						<td class="formTitle">* Начин на доставката:</td>
						<td colspan="3">
							<input type="radio" name="dostavka" value="1" required="true" error_msg="Начин на доставката е задължително поле">по куриер с наложен платеж    
							<input type="radio" name="dostavka" value="2"> със заявка за резервни части
							<div for_name="dostavka" class="error" style="display:none">Начин на доставката е задължително поле</div>
						</td>
					</tr>
					<tr>
						<td class="formTitle">* Фирма:</td>
						<td colspan="3">
							<input type="text" name="company"/>
						</td>
					</tr>
					<tr>
						<td class="formTitle">* Адрес по регистрация:</td>
						<td>	<textarea name="addr_reg"></textarea>	</td>
						<td class="formTitle">* Адрес за кореспонденция:</td>
						<td>	<textarea name="addr_contact" required="true"></textarea>
						<div for_name="addr_contact" class="error" style="display:none">задължително поле</div>	</td>
					</tr>
					<tr>
						<td class="formTitle">* Телефон:</td>
						<td>	<input type="text" name="tel"/>	</td>
						<td class="formTitle">Факс:</td>
						<td>	<input type="text" name="fax"/>	</td>
					</tr>
					<tr>
						<td class="formTitle">* E-mail:</td>
						<td>	<input type="text" name="email"/>	</td>
						<td class="formTitle">уебсайт:</td>
						<td>	<input type="text" name="www"/>	</td>
					</tr>
					<tr>
						<td class="formTitle">Брой работници:</td>
						<td>	<input type="text" name="workers"/>	</td>
						<td class="formTitle">Обем производство:<br><small>(бр. облекла/месец)</small></td>
						<td>	<input type="text" name="production_count"/>	</td>
					</tr>
					<tr>
						<td class="formTitle">Лице за контакт Оборудване:</td>
						<td>	<input type="text" name="equipping_contact"/>	</td>
						<td class="formTitle">Лице за контакт Спомагателни материали:</td>
						<td>	<input type="text" name="conducive_contact"/>	</td>
					</tr>
					<tr>
						<td class="formTitle">Лице за контакт-Резервни части и консумативи:</td>
						<td>	<input type="text" name="spare_contact"/>	</td>
						<td class="formTitle">Лице за контакт-CAD системи:</td>
						<td>	<input type="text" name="cad_contact"/>	</td>
					</tr>
					<tr>
						<td rowspan="3" class="formTitle">Производство:</td>
						<td rowspan="3">				 
							<input type="checkbox" name="manufacture1" value="бански костюми">бански костюми<br/>
							<input type="checkbox" name="manufacture2" value="бебешки облекла">бебешки облекла<br/>
							<input type="checkbox" name="manufacture3" value="бельо">бельо<br/>
							<input type="checkbox" name="manufacture4" value="блузи">блузи<br/>
							<input type="checkbox" name="manufacture5" value="бродерия">бродерия<br/>
							<input type="checkbox" name="manufacture6" value="бронежилетки">бронежилетки<br/>
							<input type="checkbox" name="manufacture7" value="връхни облекла - дамски">връхни облекла - дамски<br/>
							<input type="checkbox" name="manufacture8" value="връхни облекла - мъжки">връхни облекла - мъжки<br/>
							<input type="checkbox" name="manufacture9" value="детско - юношески облекла">детско - юношески облекла<br/>
							<input type="checkbox" name="manufacture10" value="други">други<br/>
							<input type="checkbox" name="manufacture11" value="интериорен текстилдънкови облекла">дънкови облекла<br/>
							<input type="checkbox" name="manufacture12" value="">интериорен текстил<br/>
							<input type="checkbox" name="manufacture13" value="кожени облекла">кожени облекла<br/>
							<input type="checkbox" name="manufacture14" value="костюми - дамски">костюми - дамски<br/>
							<input type="checkbox" name="manufacture15" value="костюми - мъжки">костюми - мъжки<br/>
							<input type="checkbox" name="manufacture16" value="матраци">матраци<br/>
							<input type="checkbox" name="manufacture17" value="мебели">мебели<br/>
							<input type="checkbox" name="manufacture18" value="обувки">обувки<br/>
							<input type="checkbox" name="manufacture19" value="палта">палта<br/>
							<input type="checkbox" name="manufacture20" value="панталони - дамски">панталони - дамски<br/>
							<input type="checkbox" name="manufacture21" value="панталони - мъжки">панталони - мъжки<br/>
							<input type="checkbox" name="manufacture22" value="пижами, нощници">пижами, нощници<br/>
							<input type="checkbox" name="manufacture23" value="платове - вълнени">платове - вълнени<br/>
							<input type="checkbox" name="manufacture24" value="платове - вълнени и смеси">платове - вълнени и смеси<br/>
							<input type="checkbox" name="manufacture25" value="платове - памучни и смеси">платове - памучни и смеси<br/>
							<input type="checkbox" name="manufacture26" value="поли">поли<br/>
							<input type="checkbox" name="manufacture27" value="работни облекла">работни облекла<br/>
							<input type="checkbox" name="manufacture28" value="раници">раници<br/>
							<input type="checkbox" name="manufacture29" value="ризи">ризи<br/>
							<input type="checkbox" name="manufacture30" value="рокли">рокли<br/>
							<input type="checkbox" name="manufacture31" value="ръкавици">ръкавици<br/>
							<input type="checkbox" name="manufacture32" value="сака - дамски">сака - дамски<br/>
							<input type="checkbox" name="manufacture33" value="сака - мъжки">сака - мъжки<br/>
							<input type="checkbox" name="manufacture34" value="сито (термо) печат">сито (термо) печат<br/>
							<input type="checkbox" name="manufacture35" value="спално бельо">спално бельо<br/>
							<input type="checkbox" name="manufacture36" value="спортни облекла">спортни облекла<br/>
							<input type="checkbox" name="manufacture37" value="трикотаж (кръглоплетен)">трикотаж (кръглоплетен)<br/>
							<input type="checkbox" name="manufacture38" value="трикотаж (линеен)">трикотаж (линеен)<br/>
							<input type="checkbox" name="manufacture39" value="чанти">чанти<br/>
							<input type="checkbox" name="manufacture40" value="чорапи">чорапи<br/>
							<input type="checkbox" name="manufacture41" value="шапки">шапки<br/>
						</td>
						<td class="formTitle">Какви машини използвате във вашето производство?</td>
						<td>	
							 
							<input type="checkbox" name="machines1" value="Brother">Brother<br/>
							<input type="checkbox" name="machines2" value="Durkopp">Durkopp<br/>
							<input type="checkbox" name="machines3" value="Garudan">Garudan<br/>
							<input type="checkbox" name="machines4" value="Juki">Juki<br/>
							<input type="checkbox" name="machines5" value="Kingtex">Kingtex<br/>
							<input type="checkbox" name="machines6" value="Minerva">Minerva<br/>
							<input type="checkbox" name="machines7" value="Pegasus">Pegasus<br/>
							<input type="checkbox" name="machines8" value="Pfaff">Pfaff<br/>
							<input type="checkbox" name="machines9" value="Reece">Reece<br/>
							<input type="checkbox" name="machines10" value="Rimoldi">Rimoldi<br/>
							<input type="checkbox" name="machines11" value="Singer">Singer<br/>
							<input type="checkbox" name="machines12" value="Siruba">Siruba<br/>
							<input type="checkbox" name="machines13" value="Strobel">Strobel<br/>
							<input type="checkbox" name="machines14" value="Sunstar">Sunstar<br/>
							<input type="checkbox" name="machines15" value="Textima">Textima<br/>
							<input type="checkbox" name="machines16" value="Toyota">Toyota<br/>
							<input type="checkbox" name="machines17" value="Union special">Union special<br/>
							<input type="checkbox" name="machines18" value="Yamato">Yamato<br/>
							<input type="checkbox" name="machines19" value="Бродировъчни машини">Бродировъчни машини<br/>
							<input type="checkbox" name="machines20" value="Капитониращи машини">Капитониращи машини<br/>
							<input type="checkbox" name="machines21" value="Други">Други<br/>

						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td class="formTitle">Материали, които купувате за Вашето производство:</td>
						<td>
						 
							<input type="checkbox" name="materials1" value="велкро">велкро<br/>
							<input type="checkbox" name="materials2" value="дантели">дантели<br/>
							<input type="checkbox" name="materials3" value="джеблък">джеблък<br/>
							<input type="checkbox" name="materials4" value="жакардови етикети">жакардови етикети<br/>
							<input type="checkbox" name="materials5" value="закачалки">закачалки<br/>
							<input type="checkbox" name="materials6" value="карфици">карфици<br/>
							<input type="checkbox" name="materials7" value="конци">конци<br/>
							<input type="checkbox" name="materials8" value="копчета">копчета<br/>
							<input type="checkbox" name="materials9" value="ластици">ластици<br/>
							<input type="checkbox" name="materials10" value="аркиращи етикети">маркиращи етикети<br/>
							<input type="checkbox" name="materials11" value="метални аксесоари">метални аксесоари<br/>
							<input type="checkbox" name="materials12" value="основен плат">основен плат<br/>
							<input type="checkbox" name="materials13" value="пластмасови аксесоари">пластмасови аксесоари<br/>
							<input type="checkbox" name="materials14" value="подлепващи материали">подлепващи материали<br/>
							<input type="checkbox" name="materials15" value="подложка за бродерия">подложка за бродерия<br/>
							<input type="checkbox" name="materials16" value="раменни вати">раменни вати<br/>
							<input type="checkbox" name="materials17" value="фолио за кроене">фолио за кроене<br/>
							<input type="checkbox" name="materials18" value="хартии за кроене">хартии за кроене<br/>
							<input type="checkbox" name="materials19" value="хастари">хастари<br/>
							<input type="checkbox" name="materials20" value="ципове">ципове<br/>
							<input type="checkbox" name="materials21" value="Други">Други<br/>


						</td>
					</tr>
					<tr>
						<td colspan="4">&nbsp;</td>
					</tr>
					<tr>
						<td class="formTitle">Какви консумативи използвате в производството си?</td>
						<td>					 
							<input type="checkbox" name="consumer1" value="Игли">Игли<br/>
							<input type="checkbox" name="consumer2" value="Материали за гладачни маси и преси">Материали за гладачни маси и преси<br/>
							<input type="checkbox" name="consumer3" value="Ножици">Ножици<br/>
							<input type="checkbox" name="consumer4" value="Ножове">Ножове<br/>
							<input type="checkbox" name="consumer5" value="Препарати">Препарати<br/>
							<input type="checkbox" name="consumer6" value="Стрелички">Стрелички<br/>
							<input type="checkbox" name="consumer7" value="Тефлонови обувки">Тефлонови обувки<br/>
							<input type="checkbox" name="consumer8" value="Тефлонови платна">Тефлонови платна<br/>
							<input type="checkbox" name="consumer9" value="Други">Други<br/>

						</td>
						<td class="formTitle">С каква CAD/CAM система разполагате?</td>
						<td>
						 
							<input type="checkbox" name="cadcam1" value="Assyst-Bullmer">Assyst-Bullmer<br/>
							<input type="checkbox" name="cadcam2" value="CNC-Bullmer">CNC-Bullmer<br/>
							<input type="checkbox" name="cadcam3" value="Др>CNC-FKги">CNC-FK<br/>
							<input type="checkbox" name="cadcam4" value="CNC-Gerber">CNC-Gerber<br/>
							<input type="checkbox" name="cadcam5" value="CNC-Investronica">CNC-Investronica<br/>
							<input type="checkbox" name="cadcam6" value="CNC-Lectra">CNC-Lectra<br/>
							<input type="checkbox" name="cadcam7" value="Gerber">Gerber<br/>
							<input type="checkbox" name="cadcam8" value="Investronica">Investronica<br/>
							<input type="checkbox" name="cadcam9" value="Kuris Wastema">Kuris Wastema<br/>
							<input type="checkbox" name="cadcam10" value="Lectra">Lectra<br/>
							<input type="checkbox" name="cadcam11" value="Microdynamics">Microdynamics<br/>
							<input type="checkbox" name="cadcam12" value="Novo Cut">Novo Cut<br/>
							<input type="checkbox" name="cadcam13" value="Optitex">Optitex<br/>
							<input type="checkbox" name="cadcam14" value="Консулт +">Консулт +<br/>
							<input type="checkbox" name="cadcam15" value="Друга">Друга<br/>
							<input type="checkbox" name="cadcam16" value="не разполагaме">не разполагaме<br/>

						</td>
					</tr>
					<tr>
						<td class="formTitle">Пазари:</td>
						<td>
							<ul>
							<li>вътрешен пазар <input type="text" size="3" name="inside_market"/>% </li>
							
							<li>износ <input type="text" size="3" name="export"/>% </li>
							</ul>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="formTitle">Износ:</td>
						<td colspan="3">
							<ul>
							<li> готов продукт <input type="text" size="3" name="finished_prod"/>% </li>
							<li> полуишлеме <input type="text" size="3" name="half_work_done"/>%  </li>
							<li> ишлеме <input type="text" size="3" name="work_done"/>% </li>
							<li> за страни, фирми <input type="text" name="export_firms"/> </li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="formTitle">Вашите препоръки към И.Н.А. Трейдинг </td>
						<td colspan="3">

<ul>
<li> складова наличност <select name="vote1[]" multiple size="5" required="true">
							<option value="">избери</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
						</select>
						<div class="error" for_name="vote1[]" style="display:none">required field</div>
						</li>
<li> срокове на доставка <select name="vote2">
							<option value="">избери</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
						</select>
<li> бързина на обслужване <select name="vote3">
							<option value="">избери</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
						</select>
<li> компетентност на служителите <select name="vote4">
							<option value="">избери</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
						</select>
<li> други <input type="text" name="other" validate="email" />
<div class="error" for_name="other" style="display:none">Невалиден E-mail</div>
</li>
</ul>
<a href="#">dfjghdkfjgh</a>
</td>
					</tr>

					
					
					
					<tr>
						<td colspan="4" align="right"><input type="submit" name="Submit" value="изпрати" size="20"></td>
					</tr>
				</table>

		
		
  </form>


</body>
</html>
